@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?31012775');
  src: url('../font/fontello.eot?31012775#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?31012775') format('woff'),
       url('../font/fontello.ttf?31012775') format('truetype'),
       url('../font/fontello.svg?31012775#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?31012775#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-smiley-circled:before { content: '\e800'; } /* '' */
.icon-delicious:before { content: '\e801'; } /* '' */
.icon-dribbble:before { content: '\e802'; } /* '' */
.icon-digg:before { content: '\e803'; } /* '' */
.icon-address-book:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-calendar-empty:before { content: '\e806'; } /* '' */
.icon-attention:before { content: '\e807'; } /* '' */
.icon-info-circled:before { content: '\e808'; } /* '' */
.icon-info:before { content: '\e809'; } /* '' */
.icon-link-ext:before { content: '\e80a'; } /* '' */
.icon-link:before { content: '\e80b'; } /* '' */
.icon-unlink:before { content: '\e80c'; } /* '' */
.icon-link-ext-alt:before { content: '\e80d'; } /* '' */
.icon-attach:before { content: '\e80e'; } /* '' */
.icon-lock:before { content: '\e80f'; } /* '' */
.icon-lock-open:before { content: '\e810'; } /* '' */
.icon-pin:before { content: '\e811'; } /* '' */
.icon-eye:before { content: '\e812'; } /* '' */
.icon-eye-off:before { content: '\e813'; } /* '' */
.icon-tags:before { content: '\e814'; } /* '' */
.icon-bookmark:before { content: '\e815'; } /* '' */
.icon-flag:before { content: '\e816'; } /* '' */
.icon-thumbs-up:before { content: '\e817'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e818'; } /* '' */
.icon-thumbs-down:before { content: '\e819'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e81a'; } /* '' */
.icon-download:before { content: '\e81b'; } /* '' */
.icon-upload:before { content: '\e81c'; } /* '' */
.icon-download-cloud:before { content: '\e81d'; } /* '' */
.icon-upload-cloud:before { content: '\e81e'; } /* '' */
.icon-reply:before { content: '\e81f'; } /* '' */
.icon-forward:before { content: '\e820'; } /* '' */
.icon-reply-all:before { content: '\e821'; } /* '' */
.icon-code:before { content: '\e822'; } /* '' */
.icon-export:before { content: '\e823'; } /* '' */
.icon-export-alt:before { content: '\e824'; } /* '' */
.icon-pencil:before { content: '\e825'; } /* '' */
.icon-pencil-squared:before { content: '\e826'; } /* '' */
.icon-edit:before { content: '\e827'; } /* '' */
.icon-print:before { content: '\e828'; } /* '' */
.icon-retweet:before { content: '\e829'; } /* '' */
.icon-keyboard:before { content: '\e82a'; } /* '' */
.icon-comment:before { content: '\e82b'; } /* '' */
.icon-chat:before { content: '\e82c'; } /* '' */
.icon-comment-empty:before { content: '\e82d'; } /* '' */
.icon-chat-empty:before { content: '\e82e'; } /* '' */
.icon-bell-alt:before { content: '\e82f'; } /* '' */
.icon-login:before { content: '\e830'; } /* '' */
.icon-logout:before { content: '\e831'; } /* '' */
.icon-cog:before { content: '\e832'; } /* '' */
.icon-cog-alt:before { content: '\e833'; } /* '' */
.icon-wrench:before { content: '\e834'; } /* '' */
.icon-doc-inv:before { content: '\e835'; } /* '' */
.icon-doc-text-inv:before { content: '\e836'; } /* '' */
.icon-up-open:before { content: '\e837'; } /* '' */
.icon-folder-open:before { content: '\e838'; } /* '' */
.icon-down-open:before { content: '\e839'; } /* '' */
.icon-left-hand:before { content: '\e83a'; } /* '' */
.icon-right-hand:before { content: '\e83b'; } /* '' */
.icon-right-big:before { content: '\e83c'; } /* '' */
.icon-down-big:before { content: '\e83d'; } /* '' */
.icon-left-big:before { content: '\e83e'; } /* '' */
.icon-up-big:before { content: '\e83f'; } /* '' */
.icon-umbrella:before { content: '\e840'; } /* '' */
.icon-flight:before { content: '\e841'; } /* '' */
.icon-leaf:before { content: '\e842'; } /* '' */
.icon-rocket:before { content: '\e843'; } /* '' */
.icon-coffee:before { content: '\e844'; } /* '' */
.icon-food:before { content: '\e845'; } /* '' */
.icon-truck:before { content: '\e846'; } /* '' */
.icon-plus:before { content: '\e847'; } /* '' */
.icon-minus:before { content: '\e848'; } /* '' */
.icon-to-end:before { content: '\e849'; } /* '' */
.icon-to-end-alt:before { content: '\e84a'; } /* '' */
.icon-to-start:before { content: '\e84b'; } /* '' */
.icon-to-start-alt:before { content: '\e84c'; } /* '' */
.icon-fast-fw:before { content: '\e84d'; } /* '' */
.icon-fast-bw:before { content: '\e84e'; } /* '' */
.icon-sort-alt-up:before { content: '\e84f'; } /* '' */
.icon-sort-alt-down:before { content: '\e850'; } /* '' */
.icon-sort-name-up:before { content: '\e851'; } /* '' */
.icon-sort-name-down:before { content: '\e852'; } /* '' */
.icon-sort-number-up:before { content: '\e853'; } /* '' */
.icon-sort-number-down:before { content: '\e854'; } /* '' */
.icon-hospital:before { content: '\e855'; } /* '' */
.icon-building:before { content: '\e856'; } /* '' */
.icon-trash:before { content: '\e857'; } /* '' */
.icon-cancel:before { content: '\e858'; } /* '' */
.icon-ok:before { content: '\e859'; } /* '' */
.icon-pencil-alt:before { content: '\e85a'; } /* '' */
.icon-puzzle:before { content: '\e85b'; } /* '' */
.icon-user:before { content: '\e85c'; } /* '' */
.icon-key:before { content: '\e85d'; } /* '' */
.icon-money:before { content: '\e85e'; } /* '' */
.icon-star:before { content: '\e85f'; } /* '' */
.icon-logout-1:before { content: '\e860'; } /* '' */
.icon-cubes:before { content: '\e861'; } /* '' */
.icon-hammer:before { content: '\e862'; } /* '' */
.icon-cab:before { content: '\e863'; } /* '' */
.icon-dollar:before { content: '\e864'; } /* '' */
.icon-cube:before { content: '\e865'; } /* '' */
.icon-users:before { content: '\e866'; } /* '' */
.icon-award:before { content: '\e867'; } /* '' */
.icon-tools:before { content: '\e868'; } /* '' */
.icon-paper-plane:before { content: '\e869'; } /* '' */
.icon-history:before { content: '\e86a'; } /* '' */
.icon-doc-add:before { content: '\e86b'; } /* '' */
.icon-list-add:before { content: '\e86c'; } /* '' */
.icon-inbox:before { content: '\e86d'; } /* '' */
.icon-clipboard:before { content: '\e86e'; } /* '' */
.icon-briefcase:before { content: '\e86f'; } /* '' */
.icon-vcard:before { content: '\e870'; } /* '' */
.icon-docs:before { content: '\e871'; } /* '' */
.icon-bookmarks:before { content: '\e872'; } /* '' */
.icon-chart-bar:before { content: '\e873'; } /* '' */
.icon-sound:before { content: '\e874'; } /* '' */
.icon-right-open:before { content: '\e875'; } /* '' */
.icon-left-open:before { content: '\e876'; } /* '' */
.icon-mail-alt:before { content: '\e877'; } /* '' */
.icon-right-open-mini:before { content: '\e878'; } /* '' */
.icon-left-open-mini:before { content: '\e879'; } /* '' */
.icon-home:before { content: '\e87a'; } /* '' */
.icon-ellipsis:before { content: '\e87b'; } /* '' */
.icon-ellipsis-vert:before { content: '\e87c'; } /* '' */
.icon-grid:before { content: '\e87d'; } /* '' */
.icon-folder:before { content: '\e87e'; } /* '' */
.icon-tag:before { content: '\e87f'; } /* '' */
.icon-up-dir:before { content: '\e880'; } /* '' */
.icon-menu:before { content: '\e881'; } /* '' */
.icon-play-circled2:before { content: '\e882'; } /* '' */
.icon-play-circle2:before { content: '\e883'; } /* '' */
.icon-search:before { content: '\e884'; } /* '' */
.icon-sun:before { content: '\e885'; } /* '' */
.icon-cloud:before { content: '\e886'; } /* '' */
.icon-sun-filled:before { content: '\e887'; } /* '' */
.icon-moon:before { content: '\e888'; } /* '' */
.icon-rain:before { content: '\e889'; } /* '' */
.icon-cloud-sun:before { content: '\e88a'; } /* '' */
.icon-drizzle:before { content: '\e88b'; } /* '' */
.icon-snow:before { content: '\e88c'; } /* '' */
.icon-cloud-flash:before { content: '\e88d'; } /* '' */
.icon-cloud-wind:before { content: '\e88e'; } /* '' */
.icon-wind:before { content: '\e88f'; } /* '' */
.icon-temperatire:before { content: '\e890'; } /* '' */
.icon-umbrella-1:before { content: '\e891'; } /* '' */
.icon-rain-1:before { content: '\e892'; } /* '' */
.icon-cloud-1:before { content: '\e893'; } /* '' */
.icon-sun-inv:before { content: '\e894'; } /* '' */
.icon-sun-1:before { content: '\e895'; } /* '' */
.icon-windy-rain-inv:before { content: '\e896'; } /* '' */
.icon-snow-inv:before { content: '\e897'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e898'; } /* '' */
.icon-hail-inv:before { content: '\e899'; } /* '' */
.icon-clouds-inv:before { content: '\e89a'; } /* '' */
.icon-clouds-flash-inv:before { content: '\e89b'; } /* '' */
.icon-temperature:before { content: '\e89c'; } /* '' */
.icon-compass:before { content: '\e89d'; } /* '' */
.icon-na:before { content: '\e89e'; } /* '' */
.icon-fahrenheit:before { content: '\e89f'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e8a0'; } /* '' */
.icon-sun-inv-1:before { content: '\e8a1'; } /* '' */
.icon-moon-inv:before { content: '\e8a2'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e8a3'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e8a4'; } /* '' */
.icon-cloud-inv:before { content: '\e8a5'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e8a6'; } /* '' */
.icon-drizzle-inv:before { content: '\e8a7'; } /* '' */
.icon-rain-inv:before { content: '\e8a8'; } /* '' */
.icon-windy-inv:before { content: '\e8a9'; } /* '' */
.icon-windy-rain:before { content: '\e8aa'; } /* '' */
.icon-windy:before { content: '\e8ab'; } /* '' */
.icon-rain-2:before { content: '\e8ac'; } /* '' */
.icon-drizzle-1:before { content: '\e8ad'; } /* '' */
.icon-cloud-flash-alt:before { content: '\e8ae'; } /* '' */
.icon-cloud-flash-1:before { content: '\e8af'; } /* '' */
.icon-cloud-2:before { content: '\e8b0'; } /* '' */
.icon-fog:before { content: '\e8b1'; } /* '' */
.icon-fog-cloud:before { content: '\e8b2'; } /* '' */
.icon-fog-moon:before { content: '\e8b3'; } /* '' */
.icon-fog-sun:before { content: '\e8b4'; } /* '' */
.icon-cloud-sun-1:before { content: '\e8b5'; } /* '' */
.icon-cloud-moon:before { content: '\e8b6'; } /* '' */
.icon-snowflake:before { content: '\e8b7'; } /* '' */
.icon-wind-1:before { content: '\e8b8'; } /* '' */
.icon-mist:before { content: '\e8b9'; } /* '' */
.icon-eclipse:before { content: '\e8ba'; } /* '' */
.icon-moon-1:before { content: '\e8bb'; } /* '' */
.icon-sun-2:before { content: '\e8bc'; } /* '' */
.icon-sunrise:before { content: '\e8bd'; } /* '' */
.icon-snow-1:before { content: '\e8be'; } /* '' */
.icon-snow-alt:before { content: '\e8bf'; } /* '' */
.icon-snow-heavy:before { content: '\e8c0'; } /* '' */
.icon-hail:before { content: '\e8c1'; } /* '' */
.icon-clouds:before { content: '\e8c2'; } /* '' */
.icon-clouds-flash:before { content: '\e8c3'; } /* '' */