@font-face {
  font-family:"HelveticaNeue-UltraLight";
  src: url("../font/HelveticaNeue-UltraLight.ttf") /* EOT file for IE */
}

body {
  background-color: black;
  color: #fff;
  position: relative;
}

.date {
  font-family: 'HelveticaNeue-UltraLight';
  font-size: 42px;
}

.time {
  font-family: 'HelveticaNeue-UltraLight';
  font-size: 80px;
}

.weather {
  margin-left: auto;
  display: inline-block;
  text-align: left;
}

.temperature-info {
  padding: 0 5px 0 0;
  border-bottom: 1px solid #444;
}

.temperature-info .info {
  text-align: right;
}

.wi {
  padding: 0 5px 5px 0;
  font-size: 2em;
}

span.newsticker img {
  margin-right: 10px;
}

.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity .4s ease-in;
}

.fade-wait-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .4s ease-in .6s;
}

.fade-wait-height {
  transition: height .6s ease-in-out;
}

.modal-content {
  background: #4C4C4C;
}

.modal-body img {
  max-width: 100%!important;
  height: auto!important;
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
  margin-bottom: .8em;
}