@font-face {
  font-family:"HelveticaNeue-UltraLight";
  src: url("../font/HelveticaNeue-UltraLight.ttf") /* EOT file for IE */
}

body {
  background-color: black;
  color: #fff;
  position: relative;
}

.date {
  font-family: 'HelveticaNeue-UltraLight';
  font-size: 42px;
}

.time {
  font-family: 'HelveticaNeue-UltraLight';
  font-size: 80px;
}

.weather {
  margin-left: auto;
  display: inline-block;
  text-align: left;
}

.temperature-info {
  padding: 0 5px 0 0;
  border-bottom: 1px solid #444;
}

.temperature-info .info {
  text-align: right;
}

.wi {
  padding: 0 5px 5px 0;
  font-size: 2em;
}
